@font-face {
    font-family: '3d';
    src: URL('3dlet.ttf') format('truetype');
}
@font-face {
    font-family: 'high';
    src: URL('highland-gothic/HighlandGothicFLF.ttf') format('truetype');
}
HTML, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.body hr{
    width: 75%;
}
.body {
    background-color: rgb(20, 21, 29);
    color: rgb(255, 255, 255);
    font-family: 'high';
    font-size: 30px;
    text-align: center;
    
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
a{
  text-decoration: none;
  color: white;
}
.soustitre {
    background-color: rgb(20, 21, 29);
    color: rgb(255, 255, 255);
    font-family: 'high';
    font-size: 40px;
    text-align: center;
    float: center;
    padding-top: 5%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index:1;
} 
.console{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-family: 'high';
    background-color: #d9c7c5;
    color: black;
    text-align: center;
    float: center;
    border-radius: 5%;
    border-width: 10px;
    border: 1px solid #ff5151;
    box-shadow:  -1px 1px #ff5151,
         -2px 2px #ff5151,
         -3px 3px #ff5151,
         -4px 4px #ff5151,
         -5px 5px #ff5151;
    padding: 10px;
    font-size: 30px;
    
}
.soustitre sous{
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;
gap: 2em;
padding: 2em;
word-wrap: break-word;
} 
/* .button{
    color: #f2f2f2;
    padding: 10px 12px;
    font-size: 30px;
    text-decoration: none;
    margin-left: 5%;
    font-family: 'high';
}
.button:hover{
    display: inline-block;
    color: #f2f2f2;
    text-align: right;
    padding: 10px 12px;
    font-size: 30px;
    text-decoration: none;
    margin-left: 5%;
    font-family: 'high';
}
    */
.images{
    border-radius: 25%;
}
.title {
    overflow: hidden;
    background-color: rgb(20, 21, 29);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    line-height: 30px;
    border-radius: none;
    font-family: '3d';
}
.navbar {
    color: rgb(255, 255, 255);
    overflow: hidden;
    background-color: #ff5151;
    top: 0; 
    
    z-index:2;
    font-family: '3d';
    width: 100%; 
    font-size: 70px;
    text-align: left;
    padding-left: 5%;
    display: flex;
    gap: 1px;
    padding: .1%;
    padding-bottom: 0%;
    margin-bottom: 1%;
}
.navbar select{
    overflow: hidden;
    background-color: #ff5151;
    top: 0; 
    z-index:2;
    border: none;
    font-family: '3d';
    font-size: 100px;
    padding-left: 10%;
    margin-left: 2%;
    color: #f2f2f2;
    font-size: 30px;
    text-decoration: none;
    font-family: 'high';
    margin: auto;

}
.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: right;
    padding: 10px 12px;
    padding-bottom: 0%;
    margin: auto;
    padding-top: 0%;
    font-size: 30px;
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'high';

}
.navbar select:hover {
    background: #ddd;
    color: black;
    border-radius: 20%;
    
}


.navbar a:hover {
    background: #ddd;
    color: black;
    border-radius: 20%;
}
.colem {
    margin-right: 6%;
    margin-left: 6%;
    width: 25%;
    font-size: 25px;
    text-align: center;
    display: inline-block;
  }
 .sub{
     
     font-size: 30px;
 }

.column {
    margin-right: 6%;
    margin-left: 6%;
    width: 35%;
    font-size: 35px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25%;
    padding: 1%;
    background-image: none;
    background-repeat: no-repeat;
    background-size:cover;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index:1;
    
  }
  @media (prefers-reduced-motion: no-preference) {
    .column-animation {
        animation: fadeInAnimation ease 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        z-index:1;
    }
  }
  .column hr{
    width:25%;
  }
  .column img{
    width: 5%;
    height: 5%;
  }
  .column smol{
    font-size: 15px;
  }
  .column smol img{
    width: 30%;
    height: 30%;
    border-radius: 5%;
  }
  .column a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    padding: 25px;
    height: min-content;
  }
  .column a:hover{
    font-size: 40px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer{
    background-color: rgb(31, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  @keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

