.title {
    overflow: hidden;
    background-color: #ffffff;
    color: rgb(9, 15, 44);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 50px;
    margin-left: 5%;
    line-height: 50px;
    border-radius: 6px;
    font-weight: bold;
    font-family: 'chill';
  }
  .container {
    display: flex;
  }
  .body {
    background-color: #ffffff;
    color: rgb(9, 15, 44);
    font-family: 'chill';
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }
  .funbody {
    background-color: rgb(9, 15, 44);
    color: rgb(255, 255, 255);
    font-family: 'chill';
    font-size: 15px;
    text-align: none;
  }
  .header {
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 15, 44);
    text-align: left;
    padding-left: 5%;
    text-decoration: none;
    font-size: 40px;
    line-height: 45px;
    border-radius: 5px;
    font-family: 'chill';
  }
  #subheader {
    overflow: hidden;
    color: rgb(9, 15, 44);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 38px;
    line-height: 40px;
    border-radius: 5px;
    font-family: 'chill';
    font-weight: bold;
  }
  #subheader mini{
    font-size: 25px;
    text-align: none;
  }
  .column {
    float: left;
    width: 50%;
    list-style: none;
    
  }
  .updatecolum {
    float: left;
    width: 33%;
    list-style: none;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@font-face {
    font-family: 'chill';
    src: URL('chill.ttf') format('truetype');
  }
  .panic {
    overflow: hidden;
    background-color: #ffffff;
    color: rgb(9, 15, 44);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 35px;
    line-height: 40px;
    border-radius: 6px;
    font-weight: bold;
    font-family: 'chill';
  }
  .watrz {
    overflow: hidden;
    margin-left: 5%;
    padding: 5px;
    background-color: white;
    width: fit-content;
    color: rgb(0, 15, 44);
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    box-sizing: content-box;
    border-radius: 6px;
    font-weight: bold;
    font-family: 'chill';
  }
 .infuz{
  display: flex;   
 }
